<div class="navbar navbar-expand-sm navbar-light navbar-top shadow-sm">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
            <p class="dropdown-item icon-color-menu username"><%= current_user.name %></p>
            <%= link_to sanitize("<i class='fas fa-columns icon-color-menu'></i> My projects"), "/projects" , class: "dropdown-item" %>
            <%= link_to sanitize("<i class='fas fa-edit icon-color-menu'></i> Add a new project"), "/projects/new" , class: "dropdown-item" %>
            <%= link_to sanitize("<i class='fas fa-sign-out-alt icon-color-menu'></i> Log out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>

          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to sanitize("<i class='fas fa-sign-in-alt icon-color-menu'></i> Login"), user_trello_omniauth_authorize_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
