<div class="sidebar">

  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <%= link_to projects_path do %>
          <%= image_tag "logo.png", alt: "In touch agency logo", width: 180, height: 52 %>
          <% end %>
        </div>

<!-- sidebar-personal-info  -->
    <% if user_signed_in? %>
      <div class="sidebar-header">
        <div class="user-pic">
           <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
        <div class="user-info">
          <span class="user-name">
            <%= current_user.name %>
          </span>
          <span class="user-role">Space Web Agency</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

<!-- sidebar-menu  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Dashboard</span>
            </li>
            <li>
              <a href="/projects/">
                <i class="fa fa-list-ul"></i>
                <span>My projects</span>
              </a>
            </li>
            <li>
              <a href="/projects/new">
                <i class="fas fa-rocket"></i>
                <span>New project</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users"></i>
                <span>Clients</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-file-invoice"></i>
                <span>Invoices</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-euro-sign"></i>
                <span>Turnover</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-percentage"></i>
                <span>Statistics</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

<!-- sidebar-footer  -->
      <div class="sidebar-footer">
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">4</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">2</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <span><%= link_to sanitize("<i class='fas fa-sign-out-alt'></i> Log out"), destroy_user_session_path, method: :delete%></span>
        </a>
      </div>

      <% else %>
        <li class="nav-item">
          <div class="login container">
            <div class="btn btn-show btn-block">
              <%= link_to sanitize("<i class='fas fa-sign-in-alt'></i> Login"), user_trello_omniauth_authorize_path, class: "nav-link" %>
            </div>
          </div>
        </li>
      <% end %>

    </nav>
  </div>
</div>
