<div class="container projects-container bg-white mt-4">
  <div class="h1-border">
    <div class="row">
      <div class="col-8">
        <h1>Projects</h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center pr-5">
        <div class="btn btn-show p-2 rounded">
          <%= link_to 'New Project', new_project_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row project-cards">

      <% @projects.each do |project| %>
          <div class="project-card m-4 d-flex flex-column justify-content-between align-items-center shadow rounded">
            <div class="w-100 d-flex align-items-center card-project-title"><%= project.title %></div>
            <div class="project-progress d-flex align-items-center flex-column">
              <h1><%= ProgressModule::ProjectProgressService.new(project).call %>%</h1>
              <h2><i class="fas fa-running"></i> <%= ProgressModule::CurrentSprintService.new(project).call %>/<%= project.sprints.count %></h2>
            </div>

            <div class="circle-bar-container">
              <input type="hidden" value="<%= ProgressModule::ProjectProgressService.new(project).call %>">
            </div>

            <div class="infos col">
              <div class="row align-items-end mt-4 pt-4">
                <div class="col-2 pl-2 pr-0 text-center"><i class="fas fa-building"></i></div>
                <!-- <div class="col-10 pl-2 pr-0"><h6>Le wagon company limited </h6></div> -->
                <div class="col-10 pl-2 pr-0"><h6><%= project.client.company %></h6></div>
              </div>

              <div class="row align-items-end pt-2">
                <div class="col-2 pl-2 pr-0 text-center"><i class="fas fa-calendar-check" style="<%= project.reports.empty? ? 'color: #BFBFBF; font-weight: lighter' : '' %>"></i></div>
                <div class="col-10 pl-2 pr-0"><h6 style="<%= project.reports.empty? ? 'color: #BFBFBF; font-weight: lighter' : '' %>"><%= project.reports.empty? ? "No recap sent yet" : "#{project.reports.last.created_at.to_s(:custom_datetime)}"%></h6></div>
              </div>
            </div>

            <div class="buttons row bg-white w-100">
              <%= link_to project_path(project), class: 'card-link m-auto p-0 col-6 d-flex align-items-center text-center border-right' do %>
                <div class="px-4"><i class="fa fa-list-ul"> </i>MANAGE</div>
              <% end %>
              <%= link_to new_project_report_path(project), class: 'card-link m-auto p-0 col-6 d-flex align-items-center text-center' do %>
                <div class="px-4"><i class="fas fa-paper-plane"> </i>MESSAGE</div>
              <% end %>

            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
