<div class="container current-project bg-white mt-4">

<div class="row row-project d-flex justify-content-between">

  <div class="double-infos shadow-sm d-flex col-8 justify-content-between">
      <div class="project-card-infos rounded col-5">
        <h1><%= @project.title %></h1>
        <h2 class="mb-5"></i> <%= @project.client.company %></h2>
        <div class="d-flex">
          <h3 class="mb-3 d-flex"><i class="fas fa-user-tie pr-2"></i> <%= @project.client.last_name %> <%= @project.client.first_name %></h3>
          <h3 class="ml-3 d-flex"> <i class="fas fa-mobile-alt mr-1"></i> <%= @project.client.phone %></h3>
        </div>
      </div>

       <div class="project-card-progress rounded col-4 mb-5">
        <div class="circle-bar-container-project position-absolute">
          <input type="hidden" value="<%= ProgressModule::ProjectProgressService.new(@project).call %>">
        </div>
        <div class="project-progress">
          <h1><%= ProgressModule::ProjectProgressService.new(@project).call %>%</h1>
          <h2><i class="fas fa-running"></i> <%= ProgressModule::CurrentSprintService.new(@project).call %>/<%= @project.sprints.count %></h2>
        </div>
      </div>

  </div>

  <div class="project-card-buttons rounded col-3 align-middle mt-4">
    <p><span class="contact"><i class="fas fa-calendar-check"></i> Last contact</span> <%= @project.reports.empty? ? "No recap sent yet" : "on #{@project.reports.last.created_at.to_s(:custom_datetime)}"%> </p>
    <%= link_to sanitize("Send recap <i class='fas fa-paper-plane'></i>"), new_project_report_path(@project), class: 'btn btn-show btn-block' %>
    <%= link_to sanitize("Recap history <i class='fas fa-history'></i>"), project_reports_path(@project) ,class: 'btn btn-show btn-block mt-3' %>
    <%= link_to @project.trello_board_url, class: 'btn btn-show btn-block mt-3', target: '_blank' do  %>
      <div>Go to Trello <i class="fab fa-trello"></i></div>
    <% end %>
  </div>

</div>

<!-- Delete confirmation modals -->

<div class="row pt-4 d-flex justify-content-end">
  <div class="mr-4">
    <%= link_to sanitize("<i class='fas fa-trash-alt'></i> Delete project"), project_path(@project), method: :delete, data: { confirm: 'Are you sure you want to delete the project?' }, id: 'delete-project' %>
  </div>
</div>

<!-- End of confirmation modals -->

  <div class="us-container mb-5">
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
      <% @project.sprints.order(:id).each_with_index do |sprint, index| %>
        <li class="nav-item">
          <a class="nav-link inactive <%= "active" if index.zero? %> <%= 'no-border' if 'active' %>" id="<%= sprint.title.gsub(/\s+/, "") %>-tab" data-toggle="tab" href="#<%= sprint.title.gsub(/\s+/, "") %>" role="tab" aria-controls="<%= sprint.title.gsub(/\s+/, "") %>" aria-selected="true"> <i class="fas fa-running"></i> <%= sprint.title %></a>
          </li>

      <% end %>
      </li>
  </ul>

  <div class="tab-content p-2 border-bottom border-left border-right rounded-right-top" id="myTabContent">
    <% @project.sprints.order(:id).each_with_index do |sprint, index| %>
      <div class="tab-pane fade show <%= "active" if index.zero? %>" id="<%= sprint.title.gsub(/\s+/, "") %>" role="tabpanel" aria-labelledby="<%= sprint.title.gsub(/\s+/, "") %>-tab">
        <% sprint.user_stories.order(:id).each_with_index do |user_story, index| %>
          <% if user_story.current_status == 'done' %>
            <a class ="us-card-link" href="#us<%= user_story.id %>" data-toggle="collapse" aria-expanded="false" aria-controls="us<%= user_story.id %>">
              <div class="user-story-card rounded shadow-sm p-5 mt-2 done">
                <div class="row">
                  <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="far fa-check-square"></i> <p>Done</p>
                    </div>
                  </div>
                  <div class="col-9">
                    <h5>
                      <%= user_story.title %>
                    </h5>
                  </div>
                </div>
              </div>
            </a>
          <% elsif user_story.current_status == 'in progress' %>
            <a class ="us-card-link" href="#us<%= user_story.id %>" data-toggle="collapse" aria-expanded="false" aria-controls="us<%= user_story.id %>">
              <div class="user-story-card rounded shadow-sm p-5 mt-2 in-progress">
                <div class="row">
                  <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fas fa-ellipsis-h"></i> <p>In progress</p>
                    </div>
                  </div>
                  <div class="col-9">
                    <h5>
                      <%= user_story.title %>
                    </h5>
                  </div>
                </div>
              </div>
            </a>
          <% else %>
            <a class ="us-card-link" href="#us<%= user_story.id %>" data-toggle="collapse" aria-expanded="false" aria-controls="us<%= user_story.id %>">
              <div class="user-story-card rounded shadow-sm p-5 mt-2 to-do">
                <div class="row">
                  <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="far fa-clock"></i> <p>To do</p>
                    </div>
                  </div>
                  <div class="col-9">
                    <h5>
                      <%= user_story.title %>
                    </h5>
                  </div>
                </div>
              </div>
            </a>
          <% end %>

          <div class="collapse" id="us<%= user_story.id %>">
              <div class="rounded p-5 m-2 us-collapse">
                <div class="row">
                  <div class="col-6 justify-content-arround">

                      <ul class='list-unstyled'>
                        <div class="row">
                          <li>
                            <div class="div m-2">
                              <h4 style="color: #034A9E"><i class="fas fa-comments"></i> Waiting for client feedback</h4>
                                <% if user_story.tasks.where(current_status: "waiting client").count == 0 %>
                                  <p>No tasks in this user story need client feedback</p>
                                <% else %>
                                  <% user_story.tasks.where(current_status: "waiting client").each do |task| %>
                                    <ul>
                                      <li>
                                        <p><%= task.title %></p>
                                      </li>
                                    </ul>
                                  <% end %>
                                <% end %>
                            </div>
                          </li>
                        </div>
                        <div class="row">
                          <li>
                            <div class="div m-2">
                              <h4 style="color: #034A9E"><i class="fas fa-user-clock"></i> Coming soon | to review</h4>
                              <% if user_story.tasks.where(current_status: "to review/debug").count == 0 %>
                                <p>No tasks in this user story need reviews</p>
                              <% else %>
                                <% user_story.tasks.where(current_status: "to review/debug").each do |task| %>
                                  <ul>
                                    <li>
                                      <p><%= task.title %></p>
                                    </li>
                                  </ul>
                                <% end %>
                              <% end %>
                            </div>
                          </li>
                        </div>
                      </ul>

                  </div>
                  <div class="col-6">
                    <div class="row justify-content-center" style="font-size: 20px"> Total tasks: <%= user_story.tasks.count %> </div>
                    <canvas id="usChart<%= user_story.id %>"></canvas>
                    <script>
                    var ctx = document.getElementById('usChart<%= user_story.id %>').getContext('2d');
                    // global option
                    Chart.defaults.global.defaultFontFamily = 'Roboto' ;
                    Chart.defaults.global.defaultFontSize = 15;
                    Chart.defaults.global.defaultFontColor = '#034A9E';

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                          labels: ['To do', 'In progress', 'Waiting for client', 'To review', 'To deploy', 'Done'],
                          datasets: [{
                            label: 'Tasks',
                            data: [
                                <%=  user_story.tasks.where(current_status: "to do").count %>,
                                <%=  user_story.tasks.where(current_status: "in progress").count %>,
                                <%=  user_story.tasks.where(current_status: "waiting for client").count %>,
                                <%=  user_story.tasks.where(current_status: "to review/debug").count %>,
                                <%=  user_story.tasks.where(current_status: "to deploy").count %>,
                                <%=  user_story.tasks.where(current_status: "done").count %>,
                            ],
                            backgroundColor: 'rgb(180, 202, 225)',
                            borderColor: 'rgb(3, 74, 158)',
                            borderWidth: 1,
                        }]
                        },
                        gridLines: {
                          display: false,
                        },
                        options: {
                          legend: {
                            display: false,
                          },
                          scales: {
                                  xAxes: [{

                                      gridLines: {
                                          color: '#034A9E',
                                          drawOnChartArea: false
                                      }
                                  }],
                                  yAxes: [{
                                      ticks: {
                                        display: false,
                                        stepSize: 1
                                      },
                                      gridLines: {
                                          color: '#034A9E',
                                          drawOnChartArea: false
                                      }
                                  }]
                          }
                        },


                    });
                    </script>

                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  </div>
</div>
